<p>
  data-flow48.component
</p>
<ul>
  <li>Button click and mouseenter/hover event</li>
  <li>Display simple variable and array as JSON</li>
  <li>Binding of variables</li>
</ul>
<h3>Video 4.8 and added component using command "ng g c componentname".</h3>
<button (click)="doThis()" style="height: 20px;width:80px; margin: 1em">Click Me</button>
<button (mouseenter)="onMouseHover()" style="height: 20px;width:80px;">Hover Me</button>
<p>Simple display of 'nums' variable  <span>{{nums}}</span></p>
<p>Display as JSON object: <span>{{nums | json}}</span></p>
<p>Simple display of 'num' variable:  <span>{{num}}</span></p>
<p>Display as JSON string: <span>{{num | json}}</span></p>
<input [value]="num" (keyup) = "num = $event.target.value" placeholder="Enter number here.">
<input [(ngModel)]="num" placeholder="Showing in text field" readonly="true">
<br/>
Showing in a span.
<span>{{num}}</span>
<br/>
<br/>
Starting module 4.10 video.<br/>
Showing JSON : {{ taskService.tasks | json}}
<br/>
Looping:
<ul>
  <li *ngFor="let task of taskService.tasks">
    {{task}}
  </li>
</ul>
